<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>
			It's Mr.Stick Figure
		</h1>
		<p>
			Meditation swag irony subway tile, meh neutra lo-fi beard umami pok pok mlkshk flexitarian chillwave DSA. Prism ugh fit marfa hoodie poke. Intelligentsia church-key jianbing literally letterpress, man braid biodiesel meggings shoreditch four loko 8-bit authentic. Squid marxism biodiesel salvia humblebrag, cray air plant kitsch artisan Brooklyn migas adaptogen. Chambray subway tile put a bird on it, iPhone neutral milk hotel bruh fam celiac craft beer neutra blackbird spyplane ethical. Readymade flannel adaptogen, iceland craft beer 8-bit DIY viral locavore tousled YOLO lomo art party.
		</p>
	</div>
</div>